@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 29, 37, 40;
  --background-end-rgb: 41, 50, 60;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(18, 18, 18);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

/* Scrollbar styles for dark mode */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(var(--foreground-rgb), 0.5) rgba(var(--background-end-rgb), 0.5);
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: rgba(var(--background-end-rgb), 0.5);
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(var(--foreground-rgb), 0.5);
  border-radius: 10px;
  border: 3px solid rgba(var(--background-end-rgb), 0.5);
}

*::-webkit-scrollbar-thumb:hover {
  background-color: rgba(var(--foreground-rgb), 0.7);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
